<main class="main">
  <header-layout />
  <div>{{ title.name }}</div>
  <div>{{ title.old + 3}}</div>

  <button [disabled]="!isDisable">Hello</button>
  <img src="assets/img/shopping-cart.png" width="20px" height="20px" alt="Logo {{ contentImage }}">

  <div>
    <h1>Click is an event</h1>
    <button (click)="handleClickMe()">{{ nameBtn }}</button>
    <div>Message: {{ clickMessage }}</div>

    <input type="text" (keyup)="updateField()">
  </div>
  <h1>Two way Binding </h1>
  <input type="text" [(ngModel)]="bindingMessage">
  <div>Message: {{ bindingMessage }}</div>
</main>


<router-outlet />